/* Apply Myriad Pro font to all elements */
body, html {
  font-family: "Lato", sans-serif !important;
}


/* Optional: ensure all elements inherit the font */
* {
    font-family: inherit;
}

body p{
  font-size: 18px !important;
}
.organ-container .organ-link .organ-image,
.treatmentoption img,
.testimoinal-card .bottom img,
.search-box img{
  filter: hue-rotate(250deg);
  /* filter: hue-rotate(0deg) saturate(200%) brightness(110%); #  Red tone  */
}

.nav-item a {
  padding: 20px 0;
  display: inline-block;
  position: relative;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover & Active Styles (shared) */
.nav-item a:hover,
.nav-item a[data-active="true"] {
  color: #2858a9;
}

/* Underline Animation */
.nav-item a::after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #2858a9;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-item a:hover::after,
.nav-item a[data-active="true"]::after {
  width: 50%;
  /* Match hover underline width */
}


/* Doctors */
.eyecare-doctors .doctorimg {
  width: 300px;
  /* set width of biggest image */
  height: 300px;
  /* set height of biggest image */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  /* optional: background color for blank space */
  margin: 0 auto;
  /* center the container inside the card */
}

.eyecare-doctors .doctorimg img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.doctorimg img {
  max-height: 380px;
}

/* Top  menu  */
.responsive-top .contact-phone a {
  font-size: 18px;
}

.btn-primary {
  color: #fff;
  background-color: #3257a8;
  border-color: #3257a8;
}

.btn-outline-primary {
  color: #3257a8;
  border-color: #3257a8;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #3257a8;
  border-color: #3257a8;
}

header a.navbar-brand {
    width: 400px;
    padding: 20px 0 ;
}


.home-detail{
  max-width: 60%;
}
.awardsec {
  background-color: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 300px;
  overflow: hidden;
}

.awardtitle h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#brand .item img {
  max-height: 120px;
  object-fit: contain;
  margin: auto;
  display: block;
}


.awardsec .owl-dots{
  display: none !important
}

.awardsec .owl-nav{
  display: none !important;
}

.doctor-title h5{
  color: white !important;
}

.contact-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.contact-phone a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
